a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  color: #0062cc;
}

.features-icons {
  padding-bottom: 56px;
  padding-top: 56px;
  /*margin-left: 10rem;*/
  /*margin-right: 10rem;*/
}

.grid {
    position: relative;
}

.grid-item {
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    margin: 5px;
    z-index: 1;
    background: #000;
    color: #fff;
}
.item.muuri-item-dragging {
    z-index: 3;
}
.item.muuri-item-releasing {
    z-index: 2;
}
.item.muuri-item-hidden {
    z-index: 0;
}
.item-content {
    position: relative;
    width: 100%;
    height: 100%;
}

